@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	li {
		list-style: none;
	}
	a, h1, h2, h3, h4, p, menu{
		margin: 0;
	}
	a {
		display: inline-block;
		text-decoration: none;

        padding: 0;
	}
	h1{

		font-size: 4rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	h2 {	
	font-size: 32px;
	font-weight: 700;
	}
	h2>a {
		color: var(--change-dark);
		padding: 0;
	}
	h2:hover::after {
		width: 80px;
	}
	h2::after {
		content: "";
		display: block;
		background-color: var(--change-dark);
		height: 2px;
		width: 30px;
		margin-top: 0.5rem;
		transition: width 200ms ease-in;
	}
	h3 {
		font-size: 1.25rem;
		font-weight: 400;
		padding: 1rem 0;
		border-bottom: 2px solid var(--change-dark);
	}
	h4 {
		font-size: 1.1rem;
		font-weight: 400;
	}
	p {
		color: var(--change-dark);
	}